---
title: Partial Key Verification Library for PHP
description: Serial number generation scheme for offline key validation
type: library
platform: PHP
github: https://github.com/kduma-OSS/PHP-Partial-Key-Verification
featured: 6
featured_description: Serial number generation scheme for offline key validation
featured_icon: fluent:key-24-regular
---

::u-button-group
:u-button[GitHub Repository]{icon="bxl:github" href="https://github.com/kduma-OSS/PHP-Partial-Key-Verification" blank}

:u-button[Releases]{icon="material-symbols:cloud-download" href="https://github.com/kduma-OSS/PHP-Partial-Key-Verification/releases/latest/" blank}

:u-button[Packagist]{icon="simple-icons:packagist" href="https://packagist.org/packages/kduma/pkv" blank}
::